body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1869px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:175px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#00CC00;
}
#u0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:175px;
  height:50px;
  font-size:16px;
  color:#00CC00;
}
#u0_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:171px;
  word-wrap:break-word;
}
#u1_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:729px;
  height:60px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#0033FF;
}
#u1 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:50px;
  width:729px;
  height:60px;
  font-size:16px;
  color:#0033FF;
}
#u1_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:20px;
  width:725px;
  word-wrap:break-word;
}
#u2_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:766px;
  height:331px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2 {
  border-width:0px;
  position:absolute;
  left:-7px;
  top:146px;
  width:766px;
  height:331px;
}
#u2_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3 {
  border-width:0px;
  position:absolute;
  left:8px;
  top:162px;
  width:699px;
  height:301px;
}
#u4_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:58px;
}
#u4 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:58px;
}
#u4_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:21px;
  width:136px;
  word-wrap:break-word;
}
#u5_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:58px;
}
#u5 {
  border-width:0px;
  position:absolute;
  left:140px;
  top:0px;
  width:140px;
  height:58px;
}
#u5_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:21px;
  width:136px;
  word-wrap:break-word;
}
#u6_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:58px;
}
#u6 {
  border-width:0px;
  position:absolute;
  left:280px;
  top:0px;
  width:140px;
  height:58px;
}
#u6_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:21px;
  width:136px;
  word-wrap:break-word;
}
#u7_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:58px;
}
#u7 {
  border-width:0px;
  position:absolute;
  left:420px;
  top:0px;
  width:140px;
  height:58px;
}
#u7_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:21px;
  width:136px;
  word-wrap:break-word;
}
#u8_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:139px;
  height:58px;
}
#u8 {
  border-width:0px;
  position:absolute;
  left:560px;
  top:0px;
  width:139px;
  height:58px;
}
#u8_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:21px;
  width:135px;
  word-wrap:break-word;
}
#u9_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:63px;
}
#u9 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:58px;
  width:140px;
  height:63px;
}
#u9_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:24px;
  width:136px;
  word-wrap:break-word;
}
#u10_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:63px;
}
#u10 {
  border-width:0px;
  position:absolute;
  left:140px;
  top:58px;
  width:140px;
  height:63px;
}
#u10_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:24px;
  width:136px;
  word-wrap:break-word;
}
#u11_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:63px;
}
#u11 {
  border-width:0px;
  position:absolute;
  left:280px;
  top:58px;
  width:140px;
  height:63px;
}
#u11_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:24px;
  width:136px;
  word-wrap:break-word;
}
#u12_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:63px;
}
#u12 {
  border-width:0px;
  position:absolute;
  left:420px;
  top:58px;
  width:140px;
  height:63px;
  color:#00FF99;
}
#u12_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:24px;
  width:136px;
  word-wrap:break-word;
}
#u13_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:139px;
  height:63px;
}
#u13 {
  border-width:0px;
  position:absolute;
  left:560px;
  top:58px;
  width:139px;
  height:63px;
}
#u13_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:24px;
  width:135px;
  word-wrap:break-word;
}
#u14_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:60px;
}
#u14 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:121px;
  width:140px;
  height:60px;
}
#u14_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:136px;
  word-wrap:break-word;
}
#u15_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:60px;
}
#u15 {
  border-width:0px;
  position:absolute;
  left:140px;
  top:121px;
  width:140px;
  height:60px;
}
#u15_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:136px;
  word-wrap:break-word;
}
#u16_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:60px;
}
#u16 {
  border-width:0px;
  position:absolute;
  left:280px;
  top:121px;
  width:140px;
  height:60px;
}
#u16_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:136px;
  word-wrap:break-word;
}
#u17_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:60px;
}
#u17 {
  border-width:0px;
  position:absolute;
  left:420px;
  top:121px;
  width:140px;
  height:60px;
  color:#00FF99;
}
#u17_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:136px;
  word-wrap:break-word;
}
#u18_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:139px;
  height:60px;
}
#u18 {
  border-width:0px;
  position:absolute;
  left:560px;
  top:121px;
  width:139px;
  height:60px;
}
#u18_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:135px;
  word-wrap:break-word;
}
#u19_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:60px;
}
#u19 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:181px;
  width:140px;
  height:60px;
}
#u19_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:136px;
  word-wrap:break-word;
}
#u20_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:60px;
}
#u20 {
  border-width:0px;
  position:absolute;
  left:140px;
  top:181px;
  width:140px;
  height:60px;
}
#u20_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:136px;
  word-wrap:break-word;
}
#u21_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:60px;
}
#u21 {
  border-width:0px;
  position:absolute;
  left:280px;
  top:181px;
  width:140px;
  height:60px;
}
#u21_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:136px;
  word-wrap:break-word;
}
#u22_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:60px;
}
#u22 {
  border-width:0px;
  position:absolute;
  left:420px;
  top:181px;
  width:140px;
  height:60px;
  color:#00FF99;
}
#u22_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:136px;
  word-wrap:break-word;
}
#u23_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:139px;
  height:60px;
}
#u23 {
  border-width:0px;
  position:absolute;
  left:560px;
  top:181px;
  width:139px;
  height:60px;
}
#u23_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:135px;
  word-wrap:break-word;
}
#u24_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:60px;
}
#u24 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:241px;
  width:140px;
  height:60px;
}
#u24_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u25_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:60px;
}
#u25 {
  border-width:0px;
  position:absolute;
  left:140px;
  top:241px;
  width:140px;
  height:60px;
}
#u25_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u26_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:60px;
}
#u26 {
  border-width:0px;
  position:absolute;
  left:280px;
  top:241px;
  width:140px;
  height:60px;
}
#u26_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u27_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:60px;
}
#u27 {
  border-width:0px;
  position:absolute;
  left:420px;
  top:241px;
  width:140px;
  height:60px;
}
#u27_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:139px;
  height:60px;
}
#u28 {
  border-width:0px;
  position:absolute;
  left:560px;
  top:241px;
  width:139px;
  height:60px;
}
#u28_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u29_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:51px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#00FF99;
}
#u29 {
  border-width:0px;
  position:absolute;
  left:769px;
  top:55px;
  width:123px;
  height:51px;
  font-size:16px;
  color:#00FF99;
}
#u29_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:119px;
  word-wrap:break-word;
}
#u30_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:187px;
  height:106px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#00FF99;
  text-align:left;
}
#u30 {
  border-width:0px;
  position:absolute;
  left:769px;
  top:174px;
  width:187px;
  height:106px;
  font-size:16px;
  color:#00FF99;
  text-align:left;
}
#u30_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:34px;
  width:183px;
  word-wrap:break-word;
}
#u31_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:897px;
  height:341px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u31 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:520px;
  width:897px;
  height:341px;
}
#u31_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u32 {
  border-width:0px;
  position:absolute;
  left:8px;
  top:536px;
  width:839px;
  height:302px;
}
#u33_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:59px;
}
#u33 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:59px;
}
#u33_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:136px;
  word-wrap:break-word;
}
#u34_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:59px;
}
#u34 {
  border-width:0px;
  position:absolute;
  left:140px;
  top:0px;
  width:140px;
  height:59px;
}
#u34_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:136px;
  word-wrap:break-word;
}
#u35_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:59px;
}
#u35 {
  border-width:0px;
  position:absolute;
  left:280px;
  top:0px;
  width:140px;
  height:59px;
}
#u35_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:136px;
  word-wrap:break-word;
}
#u36_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:59px;
}
#u36 {
  border-width:0px;
  position:absolute;
  left:420px;
  top:0px;
  width:140px;
  height:59px;
}
#u36_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:136px;
  word-wrap:break-word;
}
#u37_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:139px;
  height:59px;
}
#u37 {
  border-width:0px;
  position:absolute;
  left:560px;
  top:0px;
  width:139px;
  height:59px;
}
#u37_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:135px;
  word-wrap:break-word;
}
#u38_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:59px;
}
#u38 {
  border-width:0px;
  position:absolute;
  left:699px;
  top:0px;
  width:140px;
  height:59px;
}
#u38_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:136px;
  word-wrap:break-word;
}
#u39_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:63px;
}
#u39 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:59px;
  width:140px;
  height:63px;
}
#u39_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:24px;
  width:136px;
  word-wrap:break-word;
}
#u40_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:63px;
}
#u40 {
  border-width:0px;
  position:absolute;
  left:140px;
  top:59px;
  width:140px;
  height:63px;
}
#u40_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:24px;
  width:136px;
  word-wrap:break-word;
}
#u41_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:63px;
}
#u41 {
  border-width:0px;
  position:absolute;
  left:280px;
  top:59px;
  width:140px;
  height:63px;
}
#u41_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:24px;
  width:136px;
  word-wrap:break-word;
}
#u42_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:63px;
}
#u42 {
  border-width:0px;
  position:absolute;
  left:420px;
  top:59px;
  width:140px;
  height:63px;
  color:#00FF99;
}
#u42_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:24px;
  width:136px;
  word-wrap:break-word;
}
#u43_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:139px;
  height:63px;
}
#u43 {
  border-width:0px;
  position:absolute;
  left:560px;
  top:59px;
  width:139px;
  height:63px;
}
#u43_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:24px;
  width:135px;
  word-wrap:break-word;
}
#u44_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:63px;
}
#u44 {
  border-width:0px;
  position:absolute;
  left:699px;
  top:59px;
  width:140px;
  height:63px;
  color:#00FF99;
}
#u44_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:24px;
  width:136px;
  word-wrap:break-word;
}
#u45_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:60px;
}
#u45 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:122px;
  width:140px;
  height:60px;
}
#u45_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:136px;
  word-wrap:break-word;
}
#u46_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:60px;
}
#u46 {
  border-width:0px;
  position:absolute;
  left:140px;
  top:122px;
  width:140px;
  height:60px;
}
#u46_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:136px;
  word-wrap:break-word;
}
#u47_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:60px;
}
#u47 {
  border-width:0px;
  position:absolute;
  left:280px;
  top:122px;
  width:140px;
  height:60px;
}
#u47_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:136px;
  word-wrap:break-word;
}
#u48_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:60px;
}
#u48 {
  border-width:0px;
  position:absolute;
  left:420px;
  top:122px;
  width:140px;
  height:60px;
  color:#00FF99;
}
#u48_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:136px;
  word-wrap:break-word;
}
#u49_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:139px;
  height:60px;
}
#u49 {
  border-width:0px;
  position:absolute;
  left:560px;
  top:122px;
  width:139px;
  height:60px;
}
#u49_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:135px;
  word-wrap:break-word;
}
#u50_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:60px;
}
#u50 {
  border-width:0px;
  position:absolute;
  left:699px;
  top:122px;
  width:140px;
  height:60px;
}
#u50_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u51_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:60px;
}
#u51 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:182px;
  width:140px;
  height:60px;
}
#u51_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:136px;
  word-wrap:break-word;
}
#u52_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:60px;
}
#u52 {
  border-width:0px;
  position:absolute;
  left:140px;
  top:182px;
  width:140px;
  height:60px;
}
#u52_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:136px;
  word-wrap:break-word;
}
#u53_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:60px;
}
#u53 {
  border-width:0px;
  position:absolute;
  left:280px;
  top:182px;
  width:140px;
  height:60px;
}
#u53_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:136px;
  word-wrap:break-word;
}
#u54_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:60px;
}
#u54 {
  border-width:0px;
  position:absolute;
  left:420px;
  top:182px;
  width:140px;
  height:60px;
  color:#00FF99;
}
#u54_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:136px;
  word-wrap:break-word;
}
#u55_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:139px;
  height:60px;
}
#u55 {
  border-width:0px;
  position:absolute;
  left:560px;
  top:182px;
  width:139px;
  height:60px;
}
#u55_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:135px;
  word-wrap:break-word;
}
#u56_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:60px;
}
#u56 {
  border-width:0px;
  position:absolute;
  left:699px;
  top:182px;
  width:140px;
  height:60px;
}
#u56_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u57_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:60px;
}
#u57 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:242px;
  width:140px;
  height:60px;
}
#u57_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u58_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:60px;
}
#u58 {
  border-width:0px;
  position:absolute;
  left:140px;
  top:242px;
  width:140px;
  height:60px;
}
#u58_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u59_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:60px;
}
#u59 {
  border-width:0px;
  position:absolute;
  left:280px;
  top:242px;
  width:140px;
  height:60px;
}
#u59_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u60_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:60px;
}
#u60 {
  border-width:0px;
  position:absolute;
  left:420px;
  top:242px;
  width:140px;
  height:60px;
}
#u60_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u61_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:139px;
  height:60px;
}
#u61 {
  border-width:0px;
  position:absolute;
  left:560px;
  top:242px;
  width:139px;
  height:60px;
}
#u61_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u62_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:60px;
}
#u62 {
  border-width:0px;
  position:absolute;
  left:699px;
  top:242px;
  width:140px;
  height:60px;
}
#u62_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u63_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:274px;
  height:90px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#00FF99;
}
#u63 {
  border-width:0px;
  position:absolute;
  left:907px;
  top:565px;
  width:274px;
  height:90px;
  font-size:16px;
  color:#00FF99;
}
#u63_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:270px;
  word-wrap:break-word;
}
#u64_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1558px;
  height:352px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u64 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:904px;
  width:1558px;
  height:352px;
}
#u64_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u65 {
  border-width:0px;
  position:absolute;
  left:8px;
  top:937px;
  width:1528px;
  height:295px;
}
#u66_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:59px;
}
#u66 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:59px;
}
#u66_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:82px;
  word-wrap:break-word;
}
#u67_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:59px;
}
#u67 {
  border-width:0px;
  position:absolute;
  left:86px;
  top:0px;
  width:86px;
  height:59px;
}
#u67_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:82px;
  word-wrap:break-word;
}
#u68_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:59px;
}
#u68 {
  border-width:0px;
  position:absolute;
  left:172px;
  top:0px;
  width:97px;
  height:59px;
}
#u68_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:93px;
  word-wrap:break-word;
}
#u69_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:59px;
}
#u69 {
  border-width:0px;
  position:absolute;
  left:269px;
  top:0px;
  width:105px;
  height:59px;
}
#u69_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:101px;
  word-wrap:break-word;
}
#u70_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  height:59px;
}
#u70 {
  border-width:0px;
  position:absolute;
  left:374px;
  top:0px;
  width:138px;
  height:59px;
}
#u70_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:134px;
  word-wrap:break-word;
}
#u71_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:143px;
  height:59px;
}
#u71 {
  border-width:0px;
  position:absolute;
  left:512px;
  top:0px;
  width:143px;
  height:59px;
}
#u71_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:139px;
  word-wrap:break-word;
}
#u72_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:59px;
}
#u72 {
  border-width:0px;
  position:absolute;
  left:655px;
  top:0px;
  width:109px;
  height:59px;
}
#u72_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:105px;
  word-wrap:break-word;
}
#u73_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:59px;
}
#u73 {
  border-width:0px;
  position:absolute;
  left:764px;
  top:0px;
  width:109px;
  height:59px;
}
#u73_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:105px;
  word-wrap:break-word;
}
#u74_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:59px;
}
#u74 {
  border-width:0px;
  position:absolute;
  left:873px;
  top:0px;
  width:109px;
  height:59px;
}
#u74_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:105px;
  word-wrap:break-word;
}
#u75_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:59px;
}
#u75 {
  border-width:0px;
  position:absolute;
  left:982px;
  top:0px;
  width:109px;
  height:59px;
}
#u75_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:105px;
  word-wrap:break-word;
}
#u76_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:59px;
}
#u76 {
  border-width:0px;
  position:absolute;
  left:1091px;
  top:0px;
  width:109px;
  height:59px;
}
#u76_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:105px;
  word-wrap:break-word;
}
#u77_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:59px;
}
#u77 {
  border-width:0px;
  position:absolute;
  left:1200px;
  top:0px;
  width:109px;
  height:59px;
}
#u77_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:105px;
  word-wrap:break-word;
}
#u78_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:59px;
}
#u78 {
  border-width:0px;
  position:absolute;
  left:1309px;
  top:0px;
  width:109px;
  height:59px;
}
#u78_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:105px;
  word-wrap:break-word;
}
#u79_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:59px;
}
#u79 {
  border-width:0px;
  position:absolute;
  left:1418px;
  top:0px;
  width:110px;
  height:59px;
}
#u79_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:106px;
  word-wrap:break-word;
}
#u80_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:57px;
}
#u80 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:59px;
  width:86px;
  height:57px;
}
#u80_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:82px;
  word-wrap:break-word;
}
#u81_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:57px;
}
#u81 {
  border-width:0px;
  position:absolute;
  left:86px;
  top:59px;
  width:86px;
  height:57px;
}
#u81_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:20px;
  width:82px;
  word-wrap:break-word;
}
#u82_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:57px;
}
#u82 {
  border-width:0px;
  position:absolute;
  left:172px;
  top:59px;
  width:97px;
  height:57px;
}
#u82_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:20px;
  width:93px;
  word-wrap:break-word;
}
#u83_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:57px;
}
#u83 {
  border-width:0px;
  position:absolute;
  left:269px;
  top:59px;
  width:105px;
  height:57px;
  color:#00FF99;
}
#u83_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:20px;
  width:101px;
  word-wrap:break-word;
}
#u84_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  height:57px;
}
#u84 {
  border-width:0px;
  position:absolute;
  left:374px;
  top:59px;
  width:138px;
  height:57px;
}
#u84_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:20px;
  width:134px;
  word-wrap:break-word;
}
#u85_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:143px;
  height:57px;
}
#u85 {
  border-width:0px;
  position:absolute;
  left:512px;
  top:59px;
  width:143px;
  height:57px;
  color:#00FF99;
}
#u85_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:20px;
  width:139px;
  word-wrap:break-word;
}
#u86_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:57px;
}
#u86 {
  border-width:0px;
  position:absolute;
  left:655px;
  top:59px;
  width:109px;
  height:57px;
  color:#000000;
}
#u86_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:20px;
  width:105px;
  word-wrap:break-word;
}
#u87_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:57px;
}
#u87 {
  border-width:0px;
  position:absolute;
  left:764px;
  top:59px;
  width:109px;
  height:57px;
  color:#000000;
}
#u87_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:20px;
  width:105px;
  word-wrap:break-word;
}
#u88_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:57px;
}
#u88 {
  border-width:0px;
  position:absolute;
  left:873px;
  top:59px;
  width:109px;
  height:57px;
  color:#000000;
}
#u88_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:20px;
  width:105px;
  word-wrap:break-word;
}
#u89_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:57px;
}
#u89 {
  border-width:0px;
  position:absolute;
  left:982px;
  top:59px;
  width:109px;
  height:57px;
  color:#000000;
}
#u89_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:20px;
  width:105px;
  word-wrap:break-word;
}
#u90_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:57px;
}
#u90 {
  border-width:0px;
  position:absolute;
  left:1091px;
  top:59px;
  width:109px;
  height:57px;
  color:#000000;
}
#u90_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:20px;
  width:105px;
  word-wrap:break-word;
}
#u91_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:57px;
}
#u91 {
  border-width:0px;
  position:absolute;
  left:1200px;
  top:59px;
  width:109px;
  height:57px;
  color:#000000;
}
#u91_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:20px;
  width:105px;
  word-wrap:break-word;
}
#u92_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:57px;
}
#u92 {
  border-width:0px;
  position:absolute;
  left:1309px;
  top:59px;
  width:109px;
  height:57px;
  color:#000000;
}
#u92_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:20px;
  width:105px;
  word-wrap:break-word;
}
#u93_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:57px;
}
#u93 {
  border-width:0px;
  position:absolute;
  left:1418px;
  top:59px;
  width:110px;
  height:57px;
  color:#00FF00;
}
#u93_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:20px;
  width:106px;
  word-wrap:break-word;
}
#u94_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:59px;
}
#u94 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:116px;
  width:86px;
  height:59px;
}
#u94_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:82px;
  word-wrap:break-word;
}
#u95_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:59px;
}
#u95 {
  border-width:0px;
  position:absolute;
  left:86px;
  top:116px;
  width:86px;
  height:59px;
}
#u95_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:82px;
  word-wrap:break-word;
}
#u96_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:59px;
}
#u96 {
  border-width:0px;
  position:absolute;
  left:172px;
  top:116px;
  width:97px;
  height:59px;
}
#u96_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:93px;
  word-wrap:break-word;
}
#u97_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:59px;
}
#u97 {
  border-width:0px;
  position:absolute;
  left:269px;
  top:116px;
  width:105px;
  height:59px;
  color:#00FF99;
}
#u97_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:101px;
  word-wrap:break-word;
}
#u98_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  height:59px;
}
#u98 {
  border-width:0px;
  position:absolute;
  left:374px;
  top:116px;
  width:138px;
  height:59px;
}
#u98_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:134px;
  word-wrap:break-word;
}
#u99_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:143px;
  height:59px;
}
#u99 {
  border-width:0px;
  position:absolute;
  left:512px;
  top:116px;
  width:143px;
  height:59px;
  color:#00FF99;
}
#u99_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:139px;
  word-wrap:break-word;
}
#u100_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:59px;
}
#u100 {
  border-width:0px;
  position:absolute;
  left:655px;
  top:116px;
  width:109px;
  height:59px;
  color:#000000;
}
#u100_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:105px;
  word-wrap:break-word;
}
#u101_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:59px;
}
#u101 {
  border-width:0px;
  position:absolute;
  left:764px;
  top:116px;
  width:109px;
  height:59px;
  color:#000000;
}
#u101_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:105px;
  word-wrap:break-word;
}
#u102_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:59px;
}
#u102 {
  border-width:0px;
  position:absolute;
  left:873px;
  top:116px;
  width:109px;
  height:59px;
  color:#000000;
}
#u102_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:105px;
  word-wrap:break-word;
}
#u103_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:59px;
}
#u103 {
  border-width:0px;
  position:absolute;
  left:982px;
  top:116px;
  width:109px;
  height:59px;
  color:#000000;
}
#u103_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:105px;
  word-wrap:break-word;
}
#u104_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:59px;
}
#u104 {
  border-width:0px;
  position:absolute;
  left:1091px;
  top:116px;
  width:109px;
  height:59px;
  color:#000000;
}
#u104_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:105px;
  word-wrap:break-word;
}
#u105_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:59px;
}
#u105 {
  border-width:0px;
  position:absolute;
  left:1200px;
  top:116px;
  width:109px;
  height:59px;
  color:#000000;
}
#u105_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:105px;
  word-wrap:break-word;
}
#u106_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:59px;
}
#u106 {
  border-width:0px;
  position:absolute;
  left:1309px;
  top:116px;
  width:109px;
  height:59px;
  color:#000000;
}
#u106_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:105px;
  word-wrap:break-word;
}
#u107_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:59px;
}
#u107 {
  border-width:0px;
  position:absolute;
  left:1418px;
  top:116px;
  width:110px;
  height:59px;
  color:#00FF00;
}
#u107_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:106px;
  word-wrap:break-word;
}
#u108_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:60px;
}
#u108 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:175px;
  width:86px;
  height:60px;
}
#u108_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:82px;
  word-wrap:break-word;
}
#u109_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:60px;
}
#u109 {
  border-width:0px;
  position:absolute;
  left:86px;
  top:175px;
  width:86px;
  height:60px;
}
#u109_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:82px;
  word-wrap:break-word;
}
#u110_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:60px;
}
#u110 {
  border-width:0px;
  position:absolute;
  left:172px;
  top:175px;
  width:97px;
  height:60px;
}
#u110_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:93px;
  word-wrap:break-word;
}
#u111_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:60px;
}
#u111 {
  border-width:0px;
  position:absolute;
  left:269px;
  top:175px;
  width:105px;
  height:60px;
  color:#00FF99;
}
#u111_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:101px;
  word-wrap:break-word;
}
#u112_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  height:60px;
}
#u112 {
  border-width:0px;
  position:absolute;
  left:374px;
  top:175px;
  width:138px;
  height:60px;
}
#u112_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:134px;
  word-wrap:break-word;
}
#u113_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:143px;
  height:60px;
}
#u113 {
  border-width:0px;
  position:absolute;
  left:512px;
  top:175px;
  width:143px;
  height:60px;
  color:#00FF99;
}
#u113_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:139px;
  word-wrap:break-word;
}
#u114_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:60px;
}
#u114 {
  border-width:0px;
  position:absolute;
  left:655px;
  top:175px;
  width:109px;
  height:60px;
  color:#000000;
}
#u114_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:105px;
  word-wrap:break-word;
}
#u115_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:60px;
}
#u115 {
  border-width:0px;
  position:absolute;
  left:764px;
  top:175px;
  width:109px;
  height:60px;
  color:#000000;
}
#u115_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:105px;
  word-wrap:break-word;
}
#u116_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:60px;
}
#u116 {
  border-width:0px;
  position:absolute;
  left:873px;
  top:175px;
  width:109px;
  height:60px;
  color:#000000;
}
#u116_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:105px;
  word-wrap:break-word;
}
#u117_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:60px;
}
#u117 {
  border-width:0px;
  position:absolute;
  left:982px;
  top:175px;
  width:109px;
  height:60px;
  color:#000000;
}
#u117_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:105px;
  word-wrap:break-word;
}
#u118_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:60px;
}
#u118 {
  border-width:0px;
  position:absolute;
  left:1091px;
  top:175px;
  width:109px;
  height:60px;
  color:#000000;
}
#u118_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:105px;
  word-wrap:break-word;
}
#u119_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:60px;
}
#u119 {
  border-width:0px;
  position:absolute;
  left:1200px;
  top:175px;
  width:109px;
  height:60px;
  color:#000000;
}
#u119_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:105px;
  word-wrap:break-word;
}
#u120_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:60px;
}
#u120 {
  border-width:0px;
  position:absolute;
  left:1309px;
  top:175px;
  width:109px;
  height:60px;
  color:#000000;
}
#u120_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:105px;
  word-wrap:break-word;
}
#u121_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:60px;
}
#u121 {
  border-width:0px;
  position:absolute;
  left:1418px;
  top:175px;
  width:110px;
  height:60px;
  color:#00FF00;
}
#u121_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:106px;
  word-wrap:break-word;
}
#u122_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:60px;
}
#u122 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:235px;
  width:86px;
  height:60px;
}
#u122_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u123_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:60px;
}
#u123 {
  border-width:0px;
  position:absolute;
  left:86px;
  top:235px;
  width:86px;
  height:60px;
}
#u123_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u124_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:60px;
}
#u124 {
  border-width:0px;
  position:absolute;
  left:172px;
  top:235px;
  width:97px;
  height:60px;
}
#u124_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u125_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:60px;
}
#u125 {
  border-width:0px;
  position:absolute;
  left:269px;
  top:235px;
  width:105px;
  height:60px;
}
#u125_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u126_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  height:60px;
}
#u126 {
  border-width:0px;
  position:absolute;
  left:374px;
  top:235px;
  width:138px;
  height:60px;
}
#u126_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u127_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:143px;
  height:60px;
}
#u127 {
  border-width:0px;
  position:absolute;
  left:512px;
  top:235px;
  width:143px;
  height:60px;
}
#u127_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u128_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:60px;
}
#u128 {
  border-width:0px;
  position:absolute;
  left:655px;
  top:235px;
  width:109px;
  height:60px;
}
#u128_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u129_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:60px;
}
#u129 {
  border-width:0px;
  position:absolute;
  left:764px;
  top:235px;
  width:109px;
  height:60px;
}
#u129_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u130_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:60px;
}
#u130 {
  border-width:0px;
  position:absolute;
  left:873px;
  top:235px;
  width:109px;
  height:60px;
}
#u130_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u131_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:60px;
}
#u131 {
  border-width:0px;
  position:absolute;
  left:982px;
  top:235px;
  width:109px;
  height:60px;
}
#u131_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u132_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:60px;
}
#u132 {
  border-width:0px;
  position:absolute;
  left:1091px;
  top:235px;
  width:109px;
  height:60px;
}
#u132_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u133_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:60px;
}
#u133 {
  border-width:0px;
  position:absolute;
  left:1200px;
  top:235px;
  width:109px;
  height:60px;
}
#u133_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u134_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:60px;
}
#u134 {
  border-width:0px;
  position:absolute;
  left:1309px;
  top:235px;
  width:109px;
  height:60px;
}
#u134_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u135_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:60px;
}
#u135 {
  border-width:0px;
  position:absolute;
  left:1418px;
  top:235px;
  width:110px;
  height:60px;
}
#u135_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u136_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:110px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#00FF00;
  text-align:left;
}
#u136 {
  border-width:0px;
  position:absolute;
  left:1576px;
  top:998px;
  width:300px;
  height:110px;
  font-size:16px;
  color:#00FF00;
  text-align:left;
}
#u136_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:36px;
  width:296px;
  word-wrap:break-word;
}
#u137_img {
  border-width:0px;
  position:absolute;
  left:-13px;
  top:-2px;
  width:31px;
  height:326px;
}
#u137 {
  border-width:0px;
  position:absolute;
  left:328px;
  top:1025px;
  width:5px;
  height:311px;
  font-size:8px;
  color:#1E1E1E;
}
#u137_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u138_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:78px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#00FF00;
  text-align:left;
}
#u138 {
  border-width:0px;
  position:absolute;
  left:181px;
  top:1336px;
  width:300px;
  height:78px;
  font-size:16px;
  color:#00FF00;
  text-align:left;
}
#u138_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:296px;
  word-wrap:break-word;
}
#u139_img {
  border-width:0px;
  position:absolute;
  left:-13px;
  top:-2px;
  width:31px;
  height:369px;
}
#u139 {
  border-width:0px;
  position:absolute;
  left:1255px;
  top:998px;
  width:5px;
  height:354px;
}
#u139_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u140_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:157px;
  height:100px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#00FF00;
}
#u140 {
  border-width:0px;
  position:absolute;
  left:1164px;
  top:1352px;
  width:157px;
  height:100px;
  font-size:16px;
  color:#00FF00;
}
#u140_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:153px;
  word-wrap:break-word;
}
#u141_img {
  border-width:0px;
  position:absolute;
  left:-13px;
  top:-2px;
  width:31px;
  height:369px;
}
#u141 {
  border-width:0px;
  position:absolute;
  left:1374px;
  top:998px;
  width:5px;
  height:354px;
}
#u141_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u142_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#00FF00;
}
#u142 {
  border-width:0px;
  position:absolute;
  left:1331px;
  top:1352px;
  width:148px;
  height:50px;
  font-size:16px;
  color:#00FF00;
}
#u142_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:144px;
  word-wrap:break-word;
}
#u143_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#00FF00;
}
#u143 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:477px;
  width:300px;
  height:37px;
  font-size:16px;
  color:#00FF00;
}
#u143_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:9px;
  width:296px;
  word-wrap:break-word;
}
